@model SBlogA.Areas.Admin.ViewModels.UsersEdit
@{
    ViewBag.Title = "UsersEdit";
}

<h2>UsersEdit</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <div class="form-group">
        @Html.LabelFor(x => x.Username)
        <br />
        @Html.TextBoxFor(x => x.Username)
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Email)
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", type = "email" })
    </div>

    <input type="submit" value="Update User" class="btn btn-primary" />
    <a href="@Url.Action("index")">or Cancel</a>
}

